html, body {
    background-color: rgb(166, 136, 128);
    font-family: 'Itim', cursive;
    margin: 0;
    padding: 0;
}

img{
    max-width: 100%;
    width: 100%;
}

.container{
    width: min(80ch, 100vw - 4rem);
    margin-inline: auto;
}

ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

.image-grid{
    --min: 35ch;
    --gap: 1rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(min(100%, var(--min)), 1fr));
    gap: 1rem;
}


figure {
    padding: 0;
    margin: 0;
}

.caption {
    padding: 2rem;
}

nav {
    padding-bottom: 2rem;
    padding-top: 2rem;
    padding-left: 1rem;
    background-color: rgba(29, 167, 29, 0.337);
}

.spoptunna{
 margin-bottom: 2ch;
}

.bingchilling{
    padding: 5rem;
    max-width: 50vw;
    margin-inline: auto;
    text-align: center;
}